
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Neelkanth Pharmacy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Right combination of natural, scientific, financial, managerial and operational skills to withstand the winds of change, A change towards using natural plant based products and put A Big stop towards chemical products">
    <meta name="keywords" content="Plant based Nutrition combining Modern Science &amp; Ancient Ayurveda. From Meal Replacements, Collagen to Vegan Protein - we bring you Raw, Natural and Clean Nutrition">
    <meta name="author" content="Anil Choudhary">
    <!-- Favicon icon -->
    <link rel="icon" href="~/adminty-master/files/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>   
    <link href="~/css/neelkanth.css" rel="stylesheet" />
    <link href="~/css/icofont.min.css" rel="stylesheet" />

</head>
<body>
    <!-- Header Section -->
    <header>
        <section id="topbar">
            <marquee>This is my first programm</marquee>
        </section>
        <section id="searchbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/UploadFiles/Common/Logo.png" class="img-fluid" />
                        <p class="slow-gun">Healthy Product By Nature</p>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-10 col-10 pr-zero">
                                <input id="tbsearch" type="text" class="search-box" />
                            </div>
                            <div class="col-md-2 col-2 pl-zero">
                                <button class="search-button" type="button"><i class="icofont-ui-search icofont-2x"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 login-text">
                                My Cart <i style="color:#BCD000" class="icofont-cart"></i>
                                Login <i style="color:#BCD000" class="icofont-user"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 toll-free">
                                1800235489
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="menubar">
            <div class="container">

                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        @*<a class="navbar-brand" href="#">Navbar</a>*@
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse mainnav" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-4 mb-sm-2 mb-lg-0">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Product Shopping</a></li>
                                <li><a href="#">Membership</a> </li>
                                <li><a href="#">Dealer Networks</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                @*<li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Dropdown
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </li>*@
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </section>
    </header>
    <!-- Render Body Start -->
    @RenderBody()
    <!-- Render Body End -->
    <!-- Footer Section -->
    <footer>
        <section class="footer-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mt-4 mb-4">
                        <div class="col-md-12 green-underline">
                            <h5>HEAD OFFICE</h5>
                            <p>
                                G. Neelkanth Pharmacy India Pvt. Ltd. <br />
                                1229, Ukhari Road, Jabalpur(MP)-482002
                            </p>
                        </div>
                        <div class="col-md-12 green-underline">
                            <h5>FACTORY</h5>
                            <p>
                                G. Neelkanth Pharmacy India Pvt. Ltd. <br />
                                13/41, Industrial Area, Richhai, Jabalpur(MP)
                            </p>
                        </div>
                        <div class="col-md-12 green-underline">
                            <h5>CONTACT</h5>
                            <p>
                                Mobile: 7401307307 <br />
                                Email: neelkanthpharmacy@gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row mt-4 mb-4">
                            <div class="col-md-12 green-underline">
                                <h5>WRIGHT US</h5>
                            </div>
                            <div>


                                <div class="form-group row mb-2">
                                    <div class="col-sm-12">
                                        <input id="name" type="text" class="form-control rounded-0" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <div class="col-sm-12">
                                        <textarea id="address" placeholder="Your Address" rows="1" class="form-control rounded-0"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row mb-2">
                                    <div class="col-sm-6">
                                        <input id="mobile" type="text" class="form-control rounded-0" placeholder="Mobile">
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="email" type="text" class="form-control rounded-0" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group row mb-2">
                                    <div class="col-sm-12">
                                        <textarea id="address" placeholder="Your Query" rows="1" class="form-control rounded-0"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12 text-end">
                                        <input type="submit" value="Submit Now" class="more-product rounded-0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <ul style="list-style:none;margin-left:0px;padding-left:0px;">
                            <li><i class="icofont-apple" style="color:orangered"></i> Shipping & Delivery Policy</li>
                            <li><i class="icofont-apple" style="color:orangered"></i> Disclaimer Policy</li>
                            <li><i class="icofont-apple" style="color:orangered"></i> Privacy Policy</li>
                            <li><i class="icofont-apple" style="color:orangered"></i> Cancellation & Refund Policy</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul style="list-style:none;margin-left:0px;padding-left:0px;">
                            <li><i class="icofont-apple" style="color:orangered"></i> Health Tips</li>
                            <li><i class="icofont-apple" style="color:orangered"></i> Health Cards</li>
                            <li><i class="icofont-apple" style="color:orangered"></i> Investors</li>
                            <li><i class="icofont-apple" style="color:orangered"></i> Events</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        icons
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-color">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        Copyright © 2016, G. Neelkanth Pharmacy India Pvt. Ltd.  All Rights Reserved.
                    </div>
                </div>
            </div>
        </section>

    </footer>
</body>
</html>
