
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Bootstrap Card</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .whitebox{
            background-color:white;
            height:500px;
            margin-top:75px;
        }
    </style>
</head>
<body style="background-color:green">
    <div class="container"> 
        <div class="row whitebox">
            <div class="col-sm-6 col-4" style="background-color:pink">
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-text">photo</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-8" style="background-color:silver">
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-text">Some text inside the fifth card</p>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</body>
</html>
